language: cpp
sudo: false
compiler:
  - gcc
  - clang
os:
  - linux
  - osx
dist: bionic
osx_image: xcode8.3

matrix:
  exclude:
    # Disable all automatic entries in the test matrix
    - compiler: clang
    - compiler: gcc
    - os: osx
    - os: linux
  include:
    # Explicitly add tests that we want to run
    - env: BUILD_DOXYGEN="yes"
      compiler: gcc
      os: linux
      addons:
        apt:
          packages:
            - doxygen
            - doxygen-doc
            - doxygen-latex
            - doxygen-gui
            - graphviz
      install:
        - pwd
        - doxygen --version
        ############################################################################
        # All the dependencies are installed in ${TRAVIS_BUILD_DIR}/deps/
        ############################################################################
        - DEPS_DIR="${TRAVIS_BUILD_DIR}/deps"
        - mkdir -p ${DEPS_DIR} && cd ${DEPS_DIR}
        ############################################################################
        # Install a recent Doxygen
        ############################################################################
        - DOXYGEN_URL="http://doxygen.nl/files/doxygen-1.8.18.linux.bin.tar.gz"
        - mkdir doxygen
        - travis_retry wget -O - ${DOXYGEN_URL} | tar --strip-components=1 -xz -C doxygen
        - export PATH=${DEPS_DIR}/doxygen/bin:${PATH}
        - doxygen --version
      script:
        - pwd
        - cd ${TRAVIS_BUILD_DIR}
        - cd doc
        - doxygen --version
        - doxygen Doxyfile
        - echo "" > html/.nojekyll
    - compiler: clang
      os: osx
    - compiler: clang
      os: linux
      addons:
        apt:
          packages:
            - libglu1-mesa-dev
    - compiler: gcc
      os: linux
      addons:
        apt:
          packages:
            - libglu1-mesa-dev

install:
  - source ci/install_travis.sh

script:
  - mkdir build
  - cd build
  - cmake -DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX -DTinyTIFF_QT5_SUPPORT=ON -DTinyTIFF_BUILD_SHARED_LIBS=ON -DTinyTIFF_BUILD_STATIC_LIBS=ON -DTinyTIFF_OPENCV_SUPPORT=ON ..
  - cmake --build . 
  - cmake --install . 
  - echo "TESTING ..."
  - cd $CONDA_PREFIX/bin
  - echo $LD_LIBRARY_PATH
  - LD_LIBRARY_PATH=$CONDA_PREFIX/lib\:$LD_LIBRARY_PATH ; export LD_LIBRARY_PATH
  - echo $LD_LIBRARY_PATH
  - echo $DYLD_LIBRARY_PATH 
  - DYLD_LIBRARY_PATH =$CONDA_PREFIX/lib\:$DYLD_LIBRARY_PATH  ; export DYLD_LIBRARY_PATH 
  - echo $DYLD_LIBRARY_PATH 
  - ./tinytiffwriter_test
  - ./tinytiffreader_test

notifications:
  email: false

deploy:
  provider: pages
  verbose: true
  deployment_file: true
  skip_cleanup: true
  local_dir: doc/html
  github_token: $GH_REPO_TOKEN
  on:
    branch: master
    condition: $BUILD_DOXYGEN = yes
